# Python-related
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
venv/
env/

# Logs & Debug
*.log
logs/

# Virtual Environment
*.venv/
venv/
ENV/
env/

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# Docker
*.dockerignore
docker-compose.yml
.env

# GitHub Actions
.github/workflows/*.bak

